.canvas{
    background-color: rgb(219, 236, 231);
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
canvas{
    
}